.task-team-img{
  max-width: 50px;
}
.add-task-section{
  max-width: 600px !important;
  max-height: 600px;
  overflow-y: auto;
}
.task-team-container{
  max-width: 100%;
  overflow: auto;
}
.fig-caption{
  font-size: 6px;
}
