// .addProduct{
//   top: 300px !important;
// }

.add-product-section{
  max-width: 600px;
  max-height: 600px;
  overflow: auto;
.social-img{
  max-width: 25px !important;
}
::placeholder{
  color: black;
}
}
