<!--
  <div class="container pb-5">
    <h2 class="fs-3 d-flex align-items-center gap-1"> <mat-icon>stars</mat-icon>Top Performers</h2>
    <div class="row gy-2 scaling-element">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-12 scaling-element rounded-3">
        <div class="border shadow-lg rounded-3 w-100">
          <div class="img">
            <img class="w-100 rounded-3" src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?t=st=1713854070~exp=1713857670~hmac=dc37eaf6f54b742d76f86129ffff3fb9eab4af0d55b22936406d57185aa122e1&w=740" alt="">
          </div>
          <div class="p-2 text-center">
            <p class="fw-bold fs-5">Rajesh</p>
            <p class="text-secondary">Web Developer</p>
          </div>
        </div>
      </div>
      <div class=" col-lg-4 col-md-4 col-sm-4 col-12 scaling-element rounded-3">
        <div class="border shadow-lg rounded-3 w-100">
          <div class="img">
            <img class="w-100 rounded-3" src="https://img.freepik.com/free-photo/portrait-young-man-with-dark-curly-hair_176532-8137.jpg?t=st=1713854654~exp=1713858254~hmac=01121cba1036a7247b0732357910bcdbf40ac9a2ed64a084ef18932ae1694f7d&w=740" alt="">
          </div>
          <div class="p-2 text-center">
            <p class="fw-bold fs-5">Praveen</p>
            <p class="text-secondary">Web Developer</p>
          </div>
        </div>
      </div>
      <div class=" col-lg-4 col-md-4 col-sm-4 col-12 scaling-element rounded-3">
        <div class="border shadow-lg rounded-3 w-100">
          <div class="img">
            <img class="w-100 rounded-3" src="https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg?t=st=1713854604~exp=1713858204~hmac=fca36d1518a666ebe9ab5d63822db25f4138b6fdf87e8b47d0b58d8e5a16e39e&w=740" alt="">
          </div>
          <div class="p-2 text-center">
            <p class="fw-bold fs-5">Priti</p>
            <p class="text-secondary">Project Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
