<div class="container">
  <h2 mat-dialog-title class="">Task Team</h2>
  <mat-dialog-content class="mat-typography">
    <div class="col-12 table-section">
      <table class="w-100">
        <thead
          class="text-center border-2 border-secondary rounded-3 bg-dark fw-bold text-white"
        >
          <th></th>
          <th class="p-2 px-4 border-end border-secondary ">Name</th>
          <th class="p-2 px-4 border-end border-secondary ">Role</th>
          <!-- <th class="p-2 px-4 border-end border-secondary  ">Email</th> -->
          <!-- <th class="p-2 px-4 border-end border-secondary  ">Phone</th> -->
          <th class="p-2 border-end border-secondary  ">Select</th>
        </thead>
        <tbody
          class="text-center text-dark fw-bold border-2 border-secondary   bg-white bg-opacity-50"
        >
          <tr
            *ngFor="let member of team"
            class="border-bottom border-2 border-secondary"
          >
            <td class="col-1">
              <img
                class="w-100 img-fluid"
                src="https://img.freepik.com/free-vector/man-profile-account-picture_24908-81754.jpg?t=st=1714564795~exp=1714568395~hmac=b8f35a797aa8b55dd6fab6c4f6d019f37dd8aad10651e0fb79b231a72d14050b&w=740"
                alt=""
              />
            </td>
            <td class="py-2 text-secondary border-end border-secondary">
              {{ member.name }}
            </td>
            <td class="border-end border-secondary">{{ member.role }}</td>
            <!-- <td class="border-end border-secondary">{{ member.email }}</td> -->
            <!-- <td class="border-end border-secondary">{{ member.phone }}</td> -->
            <td class="">
              <section class="example-section">
                <mat-checkbox
                  class="example-margin"
                  (change)="memberChange($event, member)"
                ></mat-checkbox>
                <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
              </section>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Back</button>
    <button mat-button [mat-dialog-close]="true" (click)="addTeam()" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</div>
