<div class="container">
  <div class="row">
    <h2 class="fs-3 d-flex align-items-center gap-2">
      <mat-icon>groups </mat-icon> Our Team
    </h2>
    <a
      class="row scaling-element bg-info bg-opacity-10 p-0 m-0 mb-4 justify-content-between align-items-center shadow-lg rounded-3 text-decoration-none"
      routerLink="/team/viewteam"
    >
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 m-0 p-0">
        <div>
          <img
            class="w-100 rounded-3"
            src="https://img.freepik.com/premium-vector/business-men-women-silhouette-team-business-people-group-hold-document-folders-teamwork_603999-317.jpg?w=740"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-lg-7 col-md-12 col-sm-12 col-12 pt-3 d-flex flex-column gap-4 px-3"
      >
        <h2 class="fs-4 text-secondary p-0 m-0">
          <mat-icon>groups</mat-icon> We have total {{ team.length + 3 }} team
          members
        </h2>
        <div class="d-flex justify-content-between p-0 m-0 col-12">
          <div
            class="row border border-2 border-danger bg-warning bg-opacity-75 p-0 m-0 col-5 scaling-element shadow-lg d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-662.jpg?t=st=1714631244~exp=1714634844~hmac=d73fa3ae377aee6e05bd4c7dc146f3579942d11bf9ee5676726d9043ace4ab63&w=740"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">Ashish Parakh</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Founder & CEO</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">
                AJM Softwares , OrderAxe
              </h5>
            </div>
          </div>
          <div
            class="row border border-2 border-info bg-danger bg-opacity-25 p-0 m-0 col-5 scaling-element shadow-lg d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://img.freepik.com/free-vector/hipster-detailed-hair-long-beard-fashion-bearded-man-isolated-white-background-vector_90220-2541.jpg?t=st=1714634087~exp=1714637687~hmac=d0a648be4a65137024b9403f467d5778acad0b8df65ea659307f8ccafaa52c30&w=740"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">Nilesh Kumar</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">HOD</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">AJM Softwares</h5>
            </div>
          </div>
        </div>
        <!-- section2 -->
        <div class="d-flex justify-content-between p-0 m-0 col-12">
          <div
            class="row border border-2 border-dark bg-success bg-opacity-50 p-0 m-0 col-5 scaling-element shadow-lg d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://img.freepik.com/free-vector/isolated-young-handsome-man-set-different-poses-white-background-illustration_632498-656.jpg?t=st=1714633108~exp=1714636708~hmac=f51acdc8ee7a18e73fe29fb318e19fe467a8c8df7386e9c6e9be032ff28e07d7&w=740"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">Aryan Parakh</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Co-Founder</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">Order-Axe</h5>
            </div>
          </div>
          <div
            class="row border border-2 border-warning bg-secondary bg-opacity-50 p-0 m-0 col-5 scaling-element shadow-lg d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://img.freepik.com/premium-vector/image-illustration-material-of-business-person_951778-552.jpg?w=740"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold text-dark p-0 m-0">Total {{ team.length }}</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Employee</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">AJM Softwares</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- <hr class="mt-5" /> -->
    <h2 class="fs-3 d-flex align-items-center gap-2">
      <mat-icon>handyman</mat-icon> Our Projects
    </h2>
    <a
      class="row m-0 p-0 align-items-center scaling-element bg-secondary bg-opacity-10 rounded-3 shadow-lg d-flex justify-content-between text-decoration-none"
      routerLink="project/viewproject"
    >
      <div class="col-lg-4 col-md-5 col-sm-4 col-12 m-0 p-0">
        <img
          class="w-100 rounded-3"
          src="https://img.freepik.com/free-vector/new-app-development-desktop_23-2148684987.jpg?t=st=1714641279~exp=1714644879~hmac=b38f210dba9fdb37cad27444d42f7d6b6ac8a3f9fa759878fea153b9e8e2c4dc&w=740"
          alt=""
        />
      </div>
      <div
        class="col-lg-7 col-md-12 col-sm-12 col-12 pt-3 d-flex flex-column gap-4 px-3"
      >
        <h2 class="fs-4 text-secondary p-0 m-0">
          We have total {{ project.length }} projects
        </h2>
        <!-- <h2 class="fs-4 text-danger text-center p-0 m-0">Top 3 Projects</h2> -->
        <div class="d-flex justify-content-between p-0 m-0 col-12">
          <div
            class="row border border-2 border-danger bg-warning bg-opacity-75 p-0 m-0 col-5 scaling-element d-flex text-center rounded-3"
          >
            <div
              class="col-lg-4 col-md-12 col-sm-12 col-12 bg-white align-items-center d-flex rounded-3 text-start p-0 m-0"
            >
              <img
                class="img-fluid rounded-3"
                src="https://www.orderaxe.com/assets/img/logo.png"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">OrderAxe</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Aryan Parakh</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">Founder & CEO</h5>
            </div>
          </div>
          <div
            class="row border border-2 border-info bg-danger bg-opacity-25 p-0 m-0 col-5 scaling-element d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://media.licdn.com/dms/image/C4E0BAQHo2764xuP3PQ/company-logo_200_200/0/1634881596957/ajm_softwares_logo?e=2147483647&v=beta&t=r4U7iZzHT9UyoQWhEU456ThuT58n7J0Zuk7Ahg2Phks"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">AJM Official</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">AJM Softwares</h5>
            </div>
          </div>
        </div>
        <!-- section2 -->
        <div class="d-flex justify-content-between p-0 m-0 col-12">
          <div
            class="row border border-2 border-dark bg-success bg-opacity-50 p-0 m-0 col-5 scaling-element d-flex text-center rounded-3"
          >
            <div
              class="col-lg-4 col-md-12 col-sm-12 col-12 bg-white rounded-3 d-flex align-items-center text-start p-0 m-0"
            >
              <img
                class="img-fluid rounded-3"
                src="https://d3qnldyv492i08.cloudfront.net/ashapurna/images/company-profile/ec33214d-e643-4f45-bbb8-50ee61b830ec-1673703981.webp"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold p-0 m-0 text-dark">Ashapurna NRI</h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Ashapurna</h5>
            </div>
          </div>
          <div
            class="row border border-2 border-warning bg-secondary bg-opacity-50 p-0 m-0 col-5 scaling-element d-flex text-center rounded-3"
          >
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-start p-0 m-0">
              <img
                class="img-fluid rounded-3"
                src="https://img.freepik.com/free-vector/custom-style-script-website-optimization-coding-software-development-female-programmer-cartoon-character-working-adding-javascript-css-code_335657-2370.jpg?t=st=1714642853~exp=1714646453~hmac=12f44c198ebd74235184d5a2207f27693e467fcf9618ea6d7ffa82de370013e6&w=740"
                alt=""
              />
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 p-2 text-center">
              <h3 class="fw-bold text-dark p-0 m-0">
                Other {{ project.length - 3 }} Projects
              </h3>
              <h5 class="p-0 m-0 fw-bold text-dark">Other Projects in</h5>
              <h5 class="p-0 m-0 fw-bold text-dark">AJM Softwares</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
