// .container-fluid{
//   // background-color: aqua !important;
//   height: calc(100vh - 50px);
//   background-image: url(https://img.freepik.com/free-vector/dark-tone-memphis-instagram-ad-background_53876-99529.jpg?t=st=1713957674~exp=1713961274~hmac=7649d8afecf11095ba52be38043c53686346e47ceb04011373839a1c7e1191f2&w=740);
//   background-repeat: no-repeat;
//   background-size: cover;

// }
.table-section{
  overflow-x: auto;
}
.mat-menu-item{
  color:  black !important;
  // border-bottom: 1px solid black;
}
.mat-menu-content{
  padding: 0px !important;
}
.team-img{
  max-width: 300px !important;
}
.social-img{
  max-width: 30px;
}
// .member-section{
//   max-height: 480px !important;
// }
