.table-section{
  overflow-x: auto;
}
// .heading{
//   position: fixed;
// }
.project-img{
  max-width: 350px !important;
}
.social-img{
  max-width: 30px;
}
.mat-menu-item{
  color:  black !important;
  // border-bottom: 1px solid black;
}
.mat-menu-content{
  padding: 0px !important;
}
