<div class="container-fluid py-2 w-100 shadow-lg bg-dark text-white header">
  <div class="row align-items-center justify-content-between">
    <div
      class="col-lg-5 col-md-4 col-sm-4 col-4 d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center gap-2"
    >
      <app-sidenav class="ps-3"></app-sidenav>
      <h2 class="pt-1 d-flex">
        <span>I</span> <span>Con</span>
        <span class="text-warning animated-text">T</span><span>rol</span>
      </h2>
    </div>
    <div
      class="col-lg-4 col-md-4 col-sm-6 col-8 text-center d-flex align-items-center justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center gap-lg-5 gap-md-4 gap-sm-4 gap-4"
    >
      <div class="hover-item">
        <a
          class="rounded-circle text-decoration-none"
          routerLink="/"
          mat-icon-button
          aria-label="Example icon button with a home icon"
          routerLinkActive="activeroute"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>home</mat-icon>
        </a>
      </div>
      <div class="hover-item">
          <button mat-button [matMenuTriggerFor]="menu">
             <mat-icon class="text-white icon">notifications</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="mt-3">
            <div class="fw-bold bg-secondary bg-opacity-25 p-3">Notification</div>
            <p class="px-5 pt-1 text-secondary">No Notification Found</p>
          </mat-menu>
        </div>
      <div class="">
        <a
          class="hover-item"
          routerLink="/dashboard"
          mat-icon-button
          color=""
          aria-label="Example icon button with a home icon"
          routerLinkActive="activeroute"
        >
          <mat-icon>manage_history</mat-icon>
        </a>
      </div>
      <div class="">
        <a
          class="hover-item"
          routerLink="/profile"
          mat-icon-button
          color=""
          aria-label="Example icon button with a home icon"
          routerLinkActive="activeroute"
        >
          <mat-icon>account_circle</mat-icon>
        </a>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
