


 <!-- sidenav with back drop -->


 <button
  class="bg-warning text-black wandering-button"
  type="button"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
  data-bs-toggle="offcanvas"
  mat-icon-button
  color="accent"
  aria-label="Example icon button with a menu icon"
>
  <mat-icon>menu</mat-icon>
</button>

<div
class="offcanvas offcanvas-start sidenav" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div
    class="d-flex align-items-center justify-content-between py-3 px-4 bg-dark"
  >
    <div class="pt-1 fs-5 fw-bold d-flex text-white">
      <span>I</span> <span>Con</span>
      <p class="text-warning animated-text">T</p>
      <span>rol</span>
    </div>
    <button
      type="button"
      class="btn-close p-2 bg-warning"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body bg-dark d-flex flex-column gap-3">
    <a class="dropdown text-decoration-none" routerLink="/project">
      <button
        class="btn border-bottom border-1 rounded-0 w-100 text-white fw-bold d-flex align-items-center gap-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <mat-icon>handyman</mat-icon> Project
      </button>
    </a>
    <a class="dropdown text-decoration-none" routerLink="/team">
      <button
        class="btn w-100 border-bottom border-1 rounded-0 text-white fw-bold d-flex align-items-center gap-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <mat-icon>groups</mat-icon> Team
      </button>
    </a>
    <a class="dropdown w-100 text-decoration-none" routerLink="/viewtask">
      <button
        class="btn w-100 fw-bold d-flex align-items-center gap-2 border-bottom border-1 rounded-0 text-white"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <mat-icon>post_add</mat-icon> Task
      </button>
    </a>
    <a class="dropdown w-100 text-decoration-none" routerLink="/calendar">
      <button
        class="btn w-100 fw-bold d-flex align-items-center gap-2 border-bottom border-1 rounded-0 text-white"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <mat-icon>calendar_month</mat-icon> Calendar
      </button>
    </a>
  </div>
</div>


<!-- sidenav without backdrop -->

<!-- <button
  class="bg-warning text-black wandering-button"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasScrolling"
  aria-controls="offcanvasScrolling"
  mat-icon-button
  color="accent"
  aria-label="Example icon button with a menu icon"
>
  <mat-icon>menu</mat-icon>
</button>

<div
  class="offcanvas offcanvas-start sidenav"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div
    class="d-flex align-items-center justify-content-between py-3 px-4 bg-dark"
  >
    <div class="pt-1 fs-5 fw-bold d-flex text-white">
      <span>I</span> <span>Con</span>
      <p class="text-warning animated-text">T</p>
      <span>rol</span>
    </div>
    <button
      type="button"
      class="btn-close p-2 bg-warning"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body bg-dark d-flex flex-column gap-3">
    <a class="dropdown text-decoration-none"     routerLink="/project/viewproject">
      <button
      class="btn border-bottom border-1 rounded-0 w-100 text-white fw-bold d-flex align-items-center gap-2"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <mat-icon>handyman</mat-icon> Project
    </button>
    </a>
    <a class="dropdown text-decoration-none" routerLink="/team/viewteam">
      <button
      class="btn w-100 border-bottom border-1 rounded-0 text-white fw-bold d-flex align-items-center gap-2"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <mat-icon>groups</mat-icon> Team
    </button>
    </a>
    <a class="dropdown w-100 text-decoration-none" routerLink="/viewtask">
      <button
      class="btn w-100 fw-bold d-flex align-items-center gap-2 border-bottom border-1 rounded-0 text-white"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <mat-icon>post_add</mat-icon> Task
    </button>
    </a>
  </div>
</div>
 -->
