.project-bg{
  background-color: #2d7e95;
}
.viewproduct-section{
  .mat-select-value{
    color: white !important;
  }
  .mat-dialog-container{
    padding: 0 !important;
    border-radius: 20px !important;
    max-width: 100% !important;
  }
}

